@font-face {
    font-family: 'Principal font';
    src: url('../fonts/Dosis-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Principal font';
    background-color: #1B2430;
    margin: 0;
}

.header {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 700px;
    padding: 0 1em;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(245, 245, 245, 0.13);
}

.header__title {
    color: #FFE400;
}

.header__text {
    color: #f5f5f5;
}

.main {
    margin-bottom: 3em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

.container__title {
    width: 100%;
    color: #FFE400;
}

.container__link {
    color: #f5f5f5;
    display: block;
    padding: .5em 1.5em;
    background-color: #6F69AC;
    border-radius: 100px;
    text-decoration: none;
    margin-right: .5em;
    margin-bottom: .5em;
}

.container__link:hover {
    background-color: #5e56b6;
    box-shadow: 0px 0px 15px 0px rgba(245, 245, 245, 0.13);
}

.container__text {
    color: #f5f5f5;
}

pre {
    width: 100%;
    margin: 0;
}

b {
    color: #FFE400;
}

img {
    width: 100%;
    margin: 1em 0;
}

.footer {
    padding: 1em;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(245, 245, 245, 0.13);
}

.footer__link {
    color: #FFE400;
}

.example {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #6f69ac6c;
    padding: .15rem;
    border-radius: 4px;
}